.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  padding: 50px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  margin-bottom: 50px;
}

.menu-button {
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 5px;
}
