.produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lista-de-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.cadastro-de-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}
